<html>
  <head>
    <link rel="stylesheet" href="/css/render.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $(".auto-size").each(function(i, item) {
              debugger;
              let fontSize = 12;
              const minimumSize = 0.1;
              while (fontSize >= minimumSize && item.scrollHeight > item.clientHeight || item.scrollWidth > item.clientWidth) {
                  for (const child of [item, ...item.children]) {
                      if (child.innerText.trim() === "") {
                          child.style.fontSize = "0px";
                      } else {
                          fontSize = parseFloat(window.getComputedStyle(child, null).getPropertyValue("font-size"), 10);
                          fontSize -= 1;
                          child.style.fontSize = fontSize + "px";
                      }
                  }
              }
          });
      });
    </script>
  </head>
  <body>
    <%- include(`Partials/${options.type}`, options) %>
  </body>
</html>