<div class="watermark-box">
    <span class="card-code"><%= pack.short ? `${pack.short} ` : ''%>#<%= card.code %></span>
    <span class="card-version">v<%= card.development.versions.current %></span>
    <span class="card-wip">Work in Progress</span>
</div>