<div class="card <?= card.faction ?> agenda">
    <div class="top-panel">
        <div class="name-box auto-size">
            <span class="card-name"><?= card.name ?></span>
        </div>
        <div class="type-box">
            <span class="card-name">Agenda</span>
        </div>
    </div>
    <div class="center-panel">
        <div class="watermark-box">
            <span class="card-code"><?= pack.short ? `${pack.short} ` : ''?>#<?= card.code ?></span>
            <span class="card-version">v<?= card.development.version ?></span>
            <span class="card-wip">Work in Progress</span>
        </div>
    </div>
    <div class="bottom-panel">
        <div class="text-box">
            <div class="traits-box auto-size">
                <span class="card-traits"><b><i><?= card.traits ?></b></i></span>
            </div>
            <div class="ability-box auto-size">
                <span class="card-ability"><?!= card.text ?></span>
                <div class="card-designer"><?= card.designer ? card.designer : '' ?></div>
            </div>
        </div>
    </div>
</div>