<div class="watermark-box">
    <span class="card-code"><%= card.project.short %>#<%= card.code %></span>
    <span class="card-version">v<%= card.version %></span>
    <span class="card-wip">Work in Progress</span>
</div>